<main>
    <div class="container">
        <div class="row">

            {{!-- Formulário GRUPOS --}}
            <div class="col-6">
                <form action="/cadastrar-grupo" method="post">
                    <div class="form-floating mb-3">
                        <input 
                            type="text" 
                            name="codigo" 
                            id="inCodigoGrupo" 
                            class="form-control" 
                            placeholder="Código do grupo"
                            required
                        >
                        <label for="inCodigoGrupo">Código do grupo</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input 
                            type="text" 
                            name="nomeGrupo" 
                            id="inNomeGrupo" 
                            class="form-control" 
                            placeholder="Nome do grupo"
                            required
                        >
                        <label for="inNomeGrupo">Nome do grupo</label>
                    </div>
                    <textarea 
                        class="form-control mb-3" 
                        name="descricaoGrupo" 
                        placeholder="Descrição do grupo"
                        required
                    >
                    </textarea>
                    <input type="submit" class="btn btn-primary" value="Cadastrar grupo">
                </form>
            </div>

            {{!-- Formulário PRODUTOS --}}
            <div class="col-6">
                <form action="/cadastrar-produto" method="post">
                    <div class="form-floating mb-3">
                        <input 
                            type="text" 
                            name="nomeProd" 
                            id="inNomeProd" 
                            class="form-control" 
                            placeholder="Nome do produto"
                            required
                        >
                        <label for="inNomeProd">Nome do produto</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input 
                            type="number" 
                            name="saldoEstoque" 
                            id="inSaldoEstoque" 
                            class="form-control" 
                            placeholder="Saldo Estoque"
                            required
                        >
                        <label for="inSaldoEstoque">Saldo Estoque</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select required class="form-control" name="codigoGrupo" id="inCodigoGrupo">
                            {{#if grupos.length}}
                                {{#each grupos}}
                                    <option value="{{codigo_grupo}}">{{nome}}</option>
                                {{/each}}
                            {{else}}
                                <option disabled>Não há grupos cadastrados</option>
                            {{/if}}
                        </select>
                        <label for="inCodigoGrupo">Escolha um grupo</label>
                    </div>

                    <textarea 
                        class="form-control mb-3"
                        name="descricaoProd" 
                        placeholder="Descrição do grupo"
                        required
                    >
                    </textarea>
                    <input type="submit" class="btn btn-primary" value="Cadastrar produto">
                </form>
            </div>

        </div>
    </div>
</main>