@font-face {
    font-family: "Calculator";
    src: url("./Calculator.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #F1F3F6;
    border: none;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: #D1DDE5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    background-color: #141518;
    width: 375px;
    border-radius: 8px;
    padding: 1.5rem;
}

.tela {
    font-family: "Calculator";
    margin: 2rem 0 3rem 0;
    padding: .5rem;
    border-radius: 8px;
    text-align: center;
    box-shadow: 2px 2px 10px black;
}

.tela-menor {
    background-color: #202515;
    padding: .25rem;
    height: 80px;
    border-radius: 8px;
    border: 1px solid #1565C0;
    overflow: auto;
}

.tela-menor p {
    color: #f1f3f69f;
    font-size: 56px;
    letter-spacing: 4px;
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 16px;
    grid-template-areas: 
    "ac     del    parEsq parDir "
    "sete   oito   nove   div "
    "quatro cinco  seis   mult "
    "um     dois   tres   menos "
    "zero   ponto  igual  mais"
}

.buttons button {
    font-size: 20px;
    background-color: #141518;
    box-shadow: 2px 2px 10px black;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
}

.buttons button:active {
    box-shadow: inset .5px .5px 2px black;
}

button[value="ac"] {
    grid-area: ac;    
}

button[value="del"] {
    grid-area: del;    
}

button[value="("] {
    grid-area: parEsq;    
}

button[value=")"] {
    grid-area: parDir;    
}

button[value="/"] {
    grid-area: div;    
}

button[value="7"] {
    grid-area: sete;    
}

button[value="8"] {
    grid-area: oito;    
}

button[value="9"] {
    grid-area: nove;    
}

button[value="*"] {
    grid-area: mult;    
}

button[value="4"] {
    grid-area: quatro;    
}

button[value="5"] {
    grid-area: cinco;    
}

button[value="6"] {
    grid-area: seis;    
}

button[value="-"] {
    grid-area: menos;    
}

button[value="1"] {
    grid-area: um;    
}

button[value="2"] {
    grid-area: dois;    
}

button[value="3"] {
    grid-area: tres;    
}

button[value="+"] {
    grid-area: mais;    
}

button[value="0"] {
    grid-area: zero;   
}

button[value="."] {
    grid-area: ponto;    
}

button[value="="] {
    grid-area: igual;    
}
